html{
    background-color: red;
    font-family: 'Indie Flower', cursive;
}
body{
    margin: 0rem;
    background-color:rgba(255, 0, 200, 0.068) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/*buttons*/
#topButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 53.5vh;
}
#topButtons > button{
    background-color: rgb(165, 161, 161);
    border: none;
    color: rgb(2, 2, 2);
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
    margin: 0 10px;
}

.colorChoice{
    border: none;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: .6rem 1.2rem;
    margin: 0rem 1rem;
    cursor: pointer;
}
#blackB{
    background: rgb(0, 0, 0);
    color:rgb(165, 161, 161);
}
#rgbB{
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.425), rgba(0, 0, 255, 0.438),
     rgba(0, 128, 0, 0.432))
}
#gradualB{
    background: linear-gradient(90deg, rgb(0, 0, 0) 5%, rgb(165, 161, 161)75%);
    
}/* buttons done*/

/*containerwrapper & container */
.gridWrap{
    min-height: 60vh;
    min-width: 45vw;
    position:relative;
    border: gold double 1rem;
    margin: 1rem 0rem;
}
.gridContainer{
    background-color:rgb(165, 161, 161);
    width: 100%;
    height: 100%;
    position: absolute;
    display:grid;
}
.gridContainer > div{
    transition: all .1s ease;
}