body{
    background-color: rgba(241, 26, 26, 0.931);

}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

#divcontainer{
background-color: grey;
}